<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>850628311202-8jt332pr6ifo50r4ptj276u4mhrtfjqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850628311202-8jt332pr6ifo50r4ptj276u4mhrtfjqj</string>
	<key>API_KEY</key>
	<string>AIzaSyAH9cmyw2Vhl7veA3KTmU1w3yMQiJotXDo</string>
	<key>GCM_SENDER_ID</key>
	<string>850628311202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ian.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>talkapp-e4939</string>
	<key>STORAGE_BUCKET</key>
	<string>talkapp-e4939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:850628311202:ios:735830d0ea62d112</string>
	<key>DATABASE_URL</key>
	<string>https://talkapp-e4939.firebaseio.com</string>
</dict>
</plist>